.todo-input {
  display: flex;
  align-items: stretch;
  padding: 20px; 
}

input {
  height: 40px;
}

ul {
  padding: 20px;
}

.add-button {
  background-color: #f44336;
  border: none;
  color: white;
}

.text-btn {
  background-color: white;
  border: none;
  margin: 0 0 0 20px;
}

.text-btn-pressed {
  font-weight: bold;
  text-decoration: underline;
}

img {
  max-height: 20px;
}

p {
  margin: 0 0 20px 10px;
  word-wrap: break-word;
}

p:hover {
  cursor: pointer
}

.align {
  display: flex;
  align-items: baseline;
  word-break: break-all;
}

@media screen and (max-width: 550px) {
  .todo-input {
  	display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    height: 10vw;
  }

}